---
import Layout from "../layouts/Layout.astro"
import ProjectsCard from "../components/ProjectsCard.astro"

// Constat projects
import Projects from "../constants/Projects"
---

<Layout title="Home • Dalion.dev " description="test">
  <main>
    <section class="w-full text-raisin-black dark:text-text-gray mt-[4rem]">
      <p class="font-[600] text-2xl dark:text-white text-outer-space">
        Hello World!
      </p>
      <p class="mt-[2rem] text-sm font-[400]">
        My name is <b class="dark:text-[#d3862e] underline">Daniel Martínez</b>,
        I am 17 years old, I am dedicated to developing all types of computer
        solutions based both on the web and on lower level development
        solutions.
      </p>
      <div class="mt-[1rem] flex flex-row">
        <p class="text-base">Find me on</p>
        <ul class="ml-[1rem] flex flow-row gap-3">
          <li class="dark:hover:text-gray-100 hover:text-gray-500">
            <a href="https://github.com/daliondev" target="_blank">
              <svg
                viewBox="0 0 24 24"
                aria-hidden="true"
                focusable="false"
                class="h-6 w-6"
                astro-icon="mdi:github"
                ><path
                  fill="currentColor"
                  d="M12 2A10 10 0 0 0 2 12c0 4.42 2.87 8.17 6.84 9.5.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34-.46-1.16-1.11-1.47-1.11-1.47-.91-.62.07-.6.07-.6 1 .07 1.53 1.03 1.53 1.03.87 1.52 2.34 1.07 2.91.83.09-.65.35-1.09.63-1.34-2.22-.25-4.55-1.11-4.55-4.92 0-1.11.38-2 1.03-2.71-.1-.25-.45-1.29.1-2.64 0 0 .84-.27 2.75 1.02.79-.22 1.65-.33 2.5-.33.85 0 1.71.11 2.5.33 1.91-1.29 2.75-1.02 2.75-1.02.55 1.35.2 2.39.1 2.64.65.71 1.03 1.6 1.03 2.71 0 3.82-2.34 4.66-4.57 4.91.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0 0 12 2z"
                ></path></svg
              ></a
            >
          </li>
          <li class="dark:hover:text-gray-100 hover:text-gray-500">
            <a href="mailto:d4lion.dev@gmail.com">
              <svg
                viewBox="0 0 24 24"
                aria-hidden="true"
                focusable="false"
                class="h-6 w-6"
                astro-icon="mdi:email"
                ><path
                  fill="currentColor"
                  d="m20 8-8 5-8-5V6l8 5 8-5m0-2H4c-1.11 0-2 .89-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2z"
                ></path></svg
              ></a
            >
          </li>
          <li><a href=""></a></li>
        </ul>
      </div>
    </section>

    <hr class="my-5 dark:border-flash-white border-erie-black" />

    <section class="w-full flex flex-col gap-5">
      <p class="font-[600] text-2xl dark:text-white text-outer-space mb-4">
        <b class="font-[700] dark:text-[#d3862e]">Recent</b> Projects
      </p>

      {
        Projects.map((project) => (
          <ProjectsCard
            name={project.name}
            language={project.language}
            description={project.description}
            technologies={project.technologies}
            link={project.link}
          />
        ))
      }
      <div class="w-full grid grid-flow-row place-content-center">
        <a
          class="group flex flex-row gap-2 w-fit hover:font-[700] text-erie-black dark:text-flash-white"
          href="https://github.com/daliondev"
          >All projects
          <svg
            width="24"
            height="24"
            xmlns="http://www.w3.org/2000/svg"
            fill-rule="evenodd"
            clip-rule="evenodd"
            class="group-hover:translate-x-2 dark:fill-slate-100 transition-all"
            ><path
              d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"
            ></path></svg
          >
        </a>
      </div>
    </section>
  </main>
</Layout>
